/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

/* Change the link color to #111 (black) on hover 
li a:hover {
    background-color: #111;
}*/

/*header {
    background-color: #F6E3CE
}
.app {
    background-color: #E3F6CE
}*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
    Pollster Specific Styles
 */
body {
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #E3F6CE;
    color: #01A9DB;
}

header {
    background: #F6E3CE;
    text-align: center;
    color: #01A9DB;
    height: 150px;
    overflow: scroll;

}
header h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 1.3em;
    text-transform: uppercase;
}

header p {
    font-size: 18px;
    line-height: 25px;
}


.friends {
    float: left;
    width: 50%;
}
.twitts ul {
    border: 1px solid grey;
    border-radius: 5px;
    background: #ccffcc;
    padding: 5px;
    margin: 8px;
}
.twitts li {
    list-style: none;
}
.twitts-go-here {
    height: 480px; /*debug*/
    overflow: auto; /*debug*/
}

.users {
    width: 50%;
    float: left;
}

.view-twitts {
    text-align: center;
    border: 1px solid grey;
    background: #ffcccc;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    margin: 8px;
}


/* Highlights the element used for button like element */
button {
    font-weight: 800;
    background: #CED8F6;
}
button:hover { 
    background-color: #D0A9F5;
}
/* for the input box */
.twitt-input {
    font: inherit;
    overflow-y: hidden;
    height: 38px;
    width: 90%;
    background: #ffc;
    border: 1px solid grey;
    border-radius: 5px;

}
.my-twitt {
    text-align: center;
}
.post-twitt {
    width: 80px;
    border: 1px solid grey;
    background: #ffc;
    border-radius: 5px;
    margin: 0 auto;
}
.my-twitt h3 {
    font-weight: 700;
}
.post-highlight {
    font-weight: 800;
    background: #fc9;
}