<div>
<h2>Friends</h2>
<a href="/#/"><button>See all Polls</button></a>
<a href="/#/create"><button>Create Poll</button></a>
<button ng-click='signout()'>Sign out</button>
<div>
  <h3>Current Friends</h3>
  <p class='userList' ng-repeat='friend in allFriends.data track by $index'> User Name: {{friend.name}} Email: {{friend.email}}</p>
</div>


<p><button ng-click= "getUsers()">Show/Hide All Users</button></p>

<h3 ng-show='clicked'>All Users</h3>
<p ng-show='clicked'><em>Click on User to add as friend</em></p>
<div ng-show='clicked' class="bar">
  <input type="text" class="search" ng-model="searchString" placeholder="Search Users">
</div>

<div>
  <p ng-show='clicked' class='userList' ng-repeat='user in allUsers.data | filter : searchString track by $index' ng-click='addFriend(user.id)'> User Name: {{user.name}} Email: {{user.email}}</p>
</div>
<p><a href="#/">Return To Home</a></p>
</div>
