<div ng-controller='CreatePollController'>
  <h2>Create A New Poll</h2>
  <form ng-submit='createPoll()'>
    <p>Enter Your Question: <input ng-model='poll.name' /></p>
    <p>Enter Answer Option 1: <input ng-model='poll.answer[0]' /></p>
    <p>Enter Answer Option 2: <input ng-model='poll.answer[1]' /></p>
    <p>Enter Answer Option 3: <input ng-model='poll.answer[2]' /></p>
    <p>Enter Answer Option 4: <input ng-model='poll.answer[3]' /></p>
    <p ng-if='poll.name && poll.answer[0] && poll.answer[1]'><button>Create Poll</button></p>
  </form>

  <p><a href="#/">Return To Home</a></p>
</div>
