<div id='poll' class='viewContainer'>
  <h2>Poll View</h2>
  <h3>Signed in as {{currentUser}}</h3>
  <p>
    <a href="#/"><button>See all Polls</button></a>
    <a href="#/create"><button>Create Poll</button></a>
    <a href="#/friends"><button>Add Friends</button></a>
    <button ng-click='deletePoll(poll.id)' ng-if='isusercreator()'>Delete Poll</button>
    <button ng-click='signout()' class='signOut'>Sign out</button>
  </p>
  
  <div ng-app="pollster.poll" ng-controller="PollController">
    <div ng-model="poll">
      <div><span id="pollTitle" class="pollHeading">{{poll.name}} </span>Created By: {{poll.creator}}</div>
      <table>
        <tr><th class="choiceName">Answer Choice</th><th class="choiceName">Votes</th><th class='voteButton' ng-hide="isusercreator()">Vote</th></tr>
        <tr>
          <td class="choiceName"> {{poll.choice0}} </td>  <td class="choiceName"> {{poll.choice0Count}} </td> <td class='voteButton'><button ng-hide="isusercreator()" ng-click="vote(0)">Vote</button></td>
        </tr>
        <tr>
          <td class="choiceName"> {{poll.choice1}} </td>  <td class="voteCount"> {{poll.choice1Count}} </td> <td class='voteButton'><button ng-hide="isusercreator()" ng-click="vote(1)">Vote</button></td>
        </tr>
        <tr ng-if="poll.choice2 !== null">
          <td class="choiceName"> {{poll.choice2}} </td>  <td class="voteCount"> {{poll.choice2Count}} </td> <td class='voteButton'><button ng-hide="isusercreator()" ng-click="vote(2)">Vote</button></td>
        </tr>
        <tr ng-if="poll.choice3 !== null">
          <td class="choiceName"> {{poll.choice3}} </td>  <td class="voteCount"> {{poll.choice3Count}} </td> <td class='voteButton'><button ng-hide="isusercreator()" ng-click="vote(3)">Vote</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>
