<div id='signup' class=,viewContainer>
  <h2>Signup</h2>
  <form name="signupForm" ng-submit='signup()'>
    <table>
      <tr><td class='criteria'>Create a User Name: </td><td class='input'><input type='text' ng-model='user.name'></td></tr>
      <tr><td>Your Email: </td><td><input type='text' ng-model='user.email'></td></tr>
      <tr><td>Create Password: </td><td><input type="password" ng-model='user.password'></td></tr>
    </table>
    <button>Signup</button>
  </form>
  <p>Already have an account? <a href="#/signin"><button>Signin...</button></a></p>
</div>
